<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342239774164-43068eovoh1eb2aop6lvtub3hu3hkgeq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342239774164-43068eovoh1eb2aop6lvtub3hu3hkgeq</string>
	<key>API_KEY</key>
	<string>AIzaSyDPuIJKxRSDXd8KsKPag2tpQtDqb9SBdh0</string>
	<key>GCM_SENDER_ID</key>
	<string>342239774164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.financepp</string>
	<key>PROJECT_ID</key>
	<string>financepp-4f4bc</string>
	<key>STORAGE_BUCKET</key>
	<string>financepp-4f4bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342239774164:ios:1c8ee5b2e25c8a2b4ac241</string>
</dict>
</plist>